@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.container{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

ul, ol{
  list-style: none;
}

ul > button:hover{
  transition: all 0.7s ease;
  color: #D05270;
  border-bottom: 1px solid #D05270
}

ul > button:focus{
  color: #D05270;
  border-bottom: 1px solid #D05270
}

li{
  font-size: 14px;
  color: #424242;
  opacity: 0,7;
  cursor: pointer;
}

li:hover{
  color: #5A47AB;
}

.navLink:hover{
  transition: all 0.7s ease;
  color: #D05270;
  border-bottom: 1px solid #D05270
}

.navLink:focus{
  color: #D05270;
  border-bottom: 1px solid #D05270
}

button{
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l2 {to{background-size: 100% 3px}}